<!DOCTYPE html>
<!-- ng-app is een 'directive'. Directives vertellen Angular dat je een bepaald gedrag wilt toevoegen
 met ng-app vertellen we welke 'app' dit is en zo koppelen we alle instellingen van md2App
 -->
<html ng-app="stationApp">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi" />
        <title>Station App</title>
        <link rel="stylesheet" href="style/css/default.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
        <script src='lib/lodash.js'></script>
        <script src='lib/angular.js'></script>
        <script src='lib/angular-simple-logger.js'></script>
        <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
        <script src='lib/angular-google-maps.js'></script>
    </head>
    <body>
    <!-- met de ng-controller directive koppelen we een container aan een controller
    met een controller geven we de 'view' toegang tot de 'model'
    -->
        <div class="stationsList" ng-controller="StationsController as stations">

            <!-- <div class="newStation">
                <input type="text" placeholder="naam" ng-model="stations.newStation.name">
                <input type="text" placeholder="type" ng-model="stations.newStation.age">
                <div class="newStation-submit button" ng-click="stations.createStation()">Station toevoegen</div>
            </div> -->
            <div id="left">
              <h1 id="headTitle">Stations App</h1>
              <div class="stationsList">
                  <div>
                    <!-- Er zijn {{stations.allStations.length}} stations in deze array -->
                  </div>
                  <input id="searchInput" type="text" placeholder="Zoeken op naam" ng-model="stations.searchQuery" ng-keyup="stations.filtersorting(stations.searchQuery)">
                  <!--<div ng-click="stations.searchQuery='cee'">filter op cee</div>-->
                  <div>
                  	<div class="stationsList-row animatedCSS"
                          ng-class="{active:stations.currentStation==currentStation}"
                          ng-click="stations.setStation(currentStation)"
                          ng-repeat="currentStation in stations.allStations | limitTo: 15"
                          >
                          <!-- ng-repeat="currentStation in stations.allStations | filter:stations.searchQuery as filtered" -->
                  	    {{currentStation.name}}
                  	</div>
                  </div>
              </div>
            </div>
            <div id="right">
                <div id="stationInfo">
                  <div class="StationDetails animatedCSS" ng-if="stations.currentStation">
                    <div>Het geselecteerde station: <b> {{stations.currentStation.name}} </b></div>
                    <div>Type: <b> {{stations.currentStation.type}} </b> </div>
                  </div>
                  <div ng-if="!stations.currentStation">
                  Geen station geselecteerd
                  </div>
              </div>

              <div id="maps">
                <ui-gmap-google-map center='stations.map.center' zoom='stations.map.zoom' options="stations.map.options">
                  <!-- markers hier -->
                  <ui-gmap-markers models="stations.allStations" idKey="'uic'" coords="'self'" icon="'icon'">
                  </ui-gmap-markers>
                </ui-gmap-google-map>
              </div>
          </div>
        </div>


        <script src="node_modules/angular-animate/angular-animate.js"></script>
        <script src="app/app.js"></script>
        <script src="app/controllers/stations.controller.js"></script>
    </body>
</html>
